* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  @media screen and (min-width: 992px) {
    margin: 0% 20%;
  }
  margin: 0 7%;
}

h4 {
  color: rgb(56, 56, 56);
  font-size: 1rem;
}

h3 {
  color: rgb(56, 56, 56);
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin: 2rem 0;
}

a {
  color: rgb(56, 56, 56);
}
